# Build and Optimize Data Warehouses with BigQuery

## Working with JSON, Arrays, and Structs in BigQuery

In [1]:
%%bash

pip install -U pip
pip install -U wheel setuptools
pip install -U numpy pandas matplotlib seaborn pyarrow tqdm
pip install -U google-cloud-bigquery google-cloud-bigquery-storage

Requirement already satisfied: pip in /home/meng/env/lib/python3.8/site-packages (21.3.1)
Requirement already satisfied: wheel in /home/meng/env/lib/python3.8/site-packages (0.37.0)
Requirement already satisfied: setuptools in /home/meng/env/lib/python3.8/site-packages (59.2.0)
Requirement already satisfied: numpy in /home/meng/env/lib/python3.8/site-packages (1.21.4)
Requirement already satisfied: pandas in /home/meng/env/lib/python3.8/site-packages (1.3.4)
Requirement already satisfied: matplotlib in /home/meng/env/lib/python3.8/site-packages (3.5.0)
Requirement already satisfied: seaborn in /home/meng/env/lib/python3.8/site-packages (0.11.2)
Requirement already satisfied: pyarrow in /home/meng/env/lib/python3.8/site-packages (6.0.1)
Requirement already satisfied: tqdm in /home/meng/env/lib/python3.8/site-packages (4.62.3)
Requirement already satisfied: pytz>=2017.3 in /home/meng/env/lib/python3.8/site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/meng/env/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in /home/meng/env/lib/python3.8/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in /home/meng/env/lib/python3.8/site-packages (from matplotlib) (8.4.0)
Requirement already satisfied: cycler>=0.10 in /home/meng/env/lib/python3.8/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/meng/env/lib/python3.8/site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: packaging>=20.0 in /home/meng/env/lib/python3.8/site-packages (from matplotlib) (21.0)
Requirement already satisfied: setuptools-scm>=4 in /home/meng/env/lib/python3.8/site-packages (from matplotlib) (6.3.2)
Requirement already satisfied: fonttools>=4.22.0 in /home/meng/env/lib/python3.8/site-packages (from matplotlib) (4.28.2)
Requirement already satisfied: scipy>=1.0 in /home/meng/env/lib/python3.8/site-packages (from seaborn) (1.7.3)
Requirement already satisfied: six>=1.5 in /home/meng/env/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Requirement already satisfied: setuptools in /home/meng/env/lib/python3.8/site-packages (from setuptools-scm>=4->matplotlib) (59.2.0)
Requirement already satisfied: tomli>=1.0.0 in /home/meng/env/lib/python3.8/site-packages (from setuptools-scm>=4->matplotlib) (1.2.2)
Requirement already satisfied: google-cloud-bigquery in /home/meng/env/lib/python3.8/site-packages (2.30.1)
Requirement already satisfied: google-cloud-bigquery-storage in /home/meng/env/lib/python3.8/site-packages (2.10.1)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in /home/meng/env/lib/python3.8/site-packages (from google-cloud-bigquery) (2.26.0)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /home/meng/env/lib/python3.8/site-packages (from google-cloud-bigquery) (2.8.2)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in /home/meng/env/lib/python3.8/site-packages (from google-cloud-bigquery) (2.1.0)
Requirement already satisfied: grpcio<2.0dev,>=1.38.1 in /home/meng/env/lib/python3.8/site-packages (from google-cloud-bigquery) (1.42.0)
Requirement already satisfied: google-api-core[grpc]<3.0.0dev,>=1.29.0 in /home/meng/env/lib/python3.8/site-packages (from google-cloud-bigquery) (2.2.2)
Requirement already satisfied: packaging>=14.3 in /home/meng/env/lib/python3.8/site-packages (from google-cloud-bigquery) (21.0)
Requirement already satisfied: proto-plus>=1.10.0 in /home/meng/env/lib/python3.8/site-packages (from google-cloud-bigquery) (1.19.8)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.4.1 in /home/meng/env/lib/python3.8/site-packages (from google-cloud-bigquery) (2.2.1)
Requirement already satisfied: protobuf>=3.12.0 in /home/meng/env/lib/python3.8/site-packages (from google-cloud-bigquery) (3.19.1)
Requirement already satisfied: libcst>=0.2.5 in /home/meng/env/lib/python3.8/site-packages (from google-cloud-bigquery-storage) (0.3.23)
Requirement already satisfied: google-auth<3.0dev,>=1.25.0 in /home/meng/env/lib/python3.8/site-packages (from google-api-core[grpc]<3.0.0dev,>=1.29.0->google-cloud-bigquery) (2.3.3)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.52.0 in /home/meng/env/lib/python3.8/site-packages (from google-api-core[grpc]<3.0.0dev,>=1.29.0->google-cloud-bigquery) (1.53.0)
Requirement already satisfied: setuptools>=40.3.0 in /home/meng/env/lib/python3.8/site-packages (from google-api-core[grpc]<3.0.0dev,>=1.29.0->google-cloud-bigquery) (59.2.0)
Requirement already satisfied: grpcio-status<2.0dev,>=1.33.2 in /home/meng/env/lib/python3.8/site-packages (from google-api-core[grpc]<3.0.0dev,>=1.29.0->google-cloud-bigquery) (1.42.0)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /home/meng/env/lib/python3.8/site-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery) (1.3.0)
Requirement already satisfied: six>=1.5.2 in /home/meng/env/lib/python3.8/site-packages (from grpcio<2.0dev,>=1.38.1->google-cloud-bigquery) (1.16.0)
Requirement already satisfied: pyyaml>=5.2 in /home/meng/env/lib/python3.8/site-packages (from libcst>=0.2.5->google-cloud-bigquery-storage) (6.0)
Requirement already satisfied: typing-extensions>=3.7.4.2 in /home/meng/env/lib/python3.8/site-packages (from libcst>=0.2.5->google-cloud-bigquery-storage) (4.0.0)
Requirement already satisfied: typing-inspect>=0.4.0 in /home/meng/env/lib/python3.8/site-packages (from libcst>=0.2.5->google-cloud-bigquery-storage) (0.7.1)
Requirement already satisfied: pyparsing>=2.0.2 in /home/meng/env/lib/python3.8/site-packages (from packaging>=14.3->google-cloud-bigquery) (2.4.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /home/meng/env/lib/python3.8/site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (2.0.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/meng/env/lib/python3.8/site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in /home/meng/env/lib/python3.8/site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /home/meng/env/lib/python3.8/site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (3.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /home/meng/env/lib/python3.8/site-packages (from google-auth<3.0dev,>=1.25.0->google-api-core[grpc]<3.0.0dev,>=1.29.0->google-cloud-bigquery) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /home/meng/env/lib/python3.8/site-packages (from google-auth<3.0dev,>=1.25.0->google-api-core[grpc]<3.0.0dev,>=1.29.0->google-cloud-bigquery) (4.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /home/meng/env/lib/python3.8/site-packages (from google-auth<3.0dev,>=1.25.0->google-api-core[grpc]<3.0.0dev,>=1.29.0->google-cloud-bigquery) (4.2.4)
Requirement already satisfied: mypy-extensions>=0.3.0 in /home/meng/env/lib/python3.8/site-packages (from typing-inspect>=0.4.0->libcst>=0.2.5->google-cloud-bigquery-storage) (0.4.3)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /home/meng/env/lib/python3.8/site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0dev,>=1.25.0->google-api-core[grpc]<3.0.0dev,>=1.29.0->google-cloud-bigquery) (0.4.8)

In [2]:
import os
from google.cloud import bigquery

os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "/home/meng/work/.GCP_SA/mlee-claritas-bigdata-poc.json"

In [3]:
%load_ext google.cloud.bigquery

### Arrays

In [4]:
%%bigquery
SELECT
  ['raspberry', 'blackberry', 'strawberry', 'cherry'] AS fruit_array

Query complete after 0.01s: 100%|██████████| 1/1 [00:00<00:00, 510.07query/s]
Downloading: 100%|██████████| 1/1 [00:03<00:00,  3.57s/rows]

                                   fruit_array
0  [raspberry, blackberry, strawberry, cherry]

In [5]:
%%bigquery
SELECT
  fullVisitorId,
  date,
  ARRAY_AGG(v2ProductName) AS products_viewed,
  ARRAY_AGG(pageTitle) AS pages_viewed
  FROM `data-to-insights.ecommerce.all_sessions`
WHERE visitId = 1501570398
GROUP BY fullVisitorId, date
ORDER BY date

Query complete after 0.00s: 100%|██████████| 3/3 [00:00<00:00, 1168.98query/s]
Downloading: 100%|██████████| 2/2 [00:02<00:00,  1.45s/rows]

,fullVisitorId,date,products_viewed,pages_viewed
0,5710379250208908569,20170731,[Google Women's Lightweight Microfleece Jacket...,"[Google Snapback Hat Black, Google RFID Journal]"
1,5710379250208908569,20170801,"[Rocket Flashlight, Rubber Grip Ballpoint Pen ...","[Electronics | Google Merchandise Store, Writi..."

In [6]:
%%bigquery
SELECT
  fullVisitorId,
  date,
  ARRAY_AGG(v2ProductName) AS products_viewed,
  ARRAY_LENGTH(ARRAY_AGG(v2ProductName)) AS num_products_viewed,
  ARRAY_AGG(pageTitle) AS pages_viewed,
  ARRAY_LENGTH(ARRAY_AGG(pageTitle)) AS num_pages_viewed
  FROM `data-to-insights.ecommerce.all_sessions`
WHERE visitId = 1501570398
GROUP BY fullVisitorId, date
ORDER BY date

Query complete after 0.00s: 100%|██████████| 3/3 [00:00<00:00, 1589.76query/s]
Downloading: 100%|██████████| 2/2 [00:03<00:00,  1.76s/rows]

,fullVisitorId,date,products_viewed,num_products_viewed,pages_viewed,num_pages_viewed
0,5710379250208908569,20170731,[Google Women's Lightweight Microfleece Jacket...,2,"[Google Snapback Hat Black, Google RFID Journal]",2
1,5710379250208908569,20170801,"[Google 4400mAh Power Bank, Google Device Hold...",109,"[Electronics | Google Merchandise Store, Elect...",109

In [7]:
%%bigquery
SELECT
  fullVisitorId,
  date,
  ARRAY_AGG(DISTINCT v2ProductName) AS products_viewed,
  ARRAY_LENGTH(ARRAY_AGG(DISTINCT v2ProductName)) AS distinct_products_viewed,
  ARRAY_AGG(DISTINCT pageTitle) AS pages_viewed,
  ARRAY_LENGTH(ARRAY_AGG(DISTINCT pageTitle)) AS distinct_pages_viewed
  FROM `data-to-insights.ecommerce.all_sessions`
WHERE visitId = 1501570398
GROUP BY fullVisitorId, date
ORDER BY date

Query complete after 0.00s: 100%|██████████| 5/5 [00:00<00:00, 2549.11query/s]
Downloading: 100%|██████████| 2/2 [00:03<00:00,  1.75s/rows]

,fullVisitorId,date,products_viewed,distinct_products_viewed,pages_viewed,distinct_pages_viewed
0,5710379250208908569,20170731,[Google Women's Lightweight Microfleece Jacket...,2,"[Google Snapback Hat Black, Google RFID Journal]",2
1,5710379250208908569,20170801,"[Android Wool Heather Cap Heather/Black, Andro...",61,"[Shop by Brand | Google Merchandise Store, Off...",8

In [9]:
%%bigquery
SELECT DISTINCT
  visitId,
  h.page.pageTitle
FROM `bigquery-public-data.google_analytics_sample.ga_sessions_20170801`,
UNNEST(hits) AS h
WHERE visitId = 1501570398
LIMIT 10

Query complete after 0.00s: 100%|██████████| 3/3 [00:00<00:00, 1845.81query/s]
Downloading: 100%|██████████| 9/9 [00:03<00:00,  2.41rows/s]

      visitId                                          pageTitle
0  1501570398       Fun | Accessories | Google Merchandise Store
1  1501570398                                               Home
2  1501570398           Shop by Brand | Google Merchandise Store
3  1501570398                  Office | Google Merchandise Store
4  1501570398          Other | Office | Google Merchandise Store
5  1501570398  Writing Instruments | Office | Google Merchand...
6  1501570398             Accessories | Google Merchandise Store
7  1501570398             Electronics | Google Merchandise Store
8  1501570398                 Apparel | Google Merchandise Store

### STRUCTs

A separate table that is already pre-joined into main table.

A STRUCT can have:
- one or many fields in it
- the same or different data types for each field
- it's own alias

In [11]:
%%bigquery df
SELECT
  visitId,
  totals.*,
  device.*
FROM `bigquery-public-data.google_analytics_sample.ga_sessions_20170801`
WHERE visitId = 1501570398
LIMIT 10

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 787.37query/s]
Downloading: 100%|██████████| 1/1 [00:04<00:00,  4.39s/rows]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 31 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   visitId                    1 non-null      int64
 1   visits                     1 non-null      int64
 2   hits                       1 non-null      int64
 3   pageviews                  1 non-null      int64
 4   timeOnSite                 1 non-null      int64
 5   bounces                    0 non-null      float64
 6   transactions               0 non-null      float64
 7   transactionRevenue         0 non-null      float64
 8   newVisits                  1 non-null      int64
 9   screenviews                0 non-null      float64
 10  uniqueScreenviews          0 non-null      float64
 11  timeOnScreen               0 non-null      float64
 12  totalTransactionRevenue    0 non-null      float64
 13  sessionQualityDim          1 non-null      int64
 14  browser                    1 non-null      object
 15  browserVersion             1 non-null      object
 16  browserSize                1 non-null      object
 17  operatingSystem            1 non-null      object
 18  operatingSystemVersion     1 non-null      object
 19  isMobile                   1 non-null      bool
 20  mobileDeviceBranding       1 non-null      object
 21  mobileDeviceModel          1 non-null      object
 22  mobileInputSelector        1 non-null      object
 23  mobileDeviceInfo           1 non-null      object
 24  mobileDeviceMarketingName  1 non-null      object
 25  flashVersion               1 non-null      object
 26  javaEnabled                0 non-null      object
 27  language                   1 non-null      object
 28  screenColors               1 non-null      object
 29  screenResolution           1 non-null      object
 30  deviceCategory             1 non-null      object
dtypes: bool(1), float64(7), int64(7), object(16)
memory usage: 369.0+ bytes

In [13]:
%%bigquery
SELECT STRUCT("Rudisha" as name, 23.4 as split) as runner

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 532.27query/s]
Downloading: 100%|██████████| 1/1 [00:03<00:00,  3.56s/rows]

                               runner
0  {'name': 'Rudisha', 'split': 23.4}

In [14]:
%%bigquery
SELECT STRUCT("Rudisha" as name, [23.4, 26.3, 26.4, 26.1] as splits) AS runner

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 739.74query/s]
Downloading: 100%|██████████| 1/1 [00:03<00:00,  3.46s/rows]

                                              runner
0  {'name': 'Rudisha', 'splits': [23.4, 26.3, 26....

In [ ]:
SELECT race, participants.name
FROM racing.race_results
CROSS JOIN
race_results.participants # full STRUCT name

In [ ]:
SELECT race, participants.name
FROM racing.race_results AS r, r.participants

In [ ]:
SELECT COUNT(p.name) AS racer_count
FROM racing.race_results AS r, UNNEST(r.participants) AS p

In [ ]:
SELECT
  p.name,
  SUM(split_times) as total_race_time
FROM racing.race_results AS r
, UNNEST(r.participants) AS p
, UNNEST(p.splits) AS split_times
WHERE p.name LIKE 'R%'
GROUP BY p.name
ORDER BY total_race_time ASC;

In [ ]:
SELECT
  p.name,
  split_time
FROM racing.race_results AS r
, UNNEST(r.participants) AS p
, UNNEST(p.splits) AS split_time
WHERE split_time = 23.2;