In [11]:
%%writefile ./SQL/Top_10_USA_names.sql

# Query bigquery-public-data.usa_names.usa_1910_2013 for the 
# name and gender of the babies in this dataset, and then list 
# the top 10 names in descending order.
SELECT
    name, gender,
    SUM(number) AS total
FROM
    `bigquery-public-data.usa_names.usa_1910_2013`
GROUP BY
    name, gender
ORDER BY
    total DESC
LIMIT
    10

Writing ./SQL/Top_10_USA_names.sql

In [12]:
%%bash

bq query --use_legacy_sql=false < ./SQL/Top_10_USA_names.sql

+---------+--------+---------+
|  name   | gender |  total  |
+---------+--------+---------+
| James   | M      | 4924235 |
| John    | M      | 4818746 |
| Robert  | M      | 4703680 |
| Michael | M      | 4280040 |
| William | M      | 3811998 |
| Mary    | F      | 3728041 |
| David   | M      | 3541625 |
| Richard | M      | 2526927 |
| Joseph  | M      | 2467298 |
| Charles | M      | 2237170 |
+---------+--------+---------+

Waiting on bqjob_r7c0f24f74f9ace7e_00000177eb89933d_1 ... (0s) Current status: DONE

In [3]:
%%bash

bq --location="US" mk \
    --dataset "babynames"

Dataset 'healthy-spark-305704:babynames' successfully created.

In [4]:
%%bash

bq load \
    --source_format=CSV \
    healthy-spark-305704:babynames.names_2014 \
    ./Data/yob2014.txt \
    name:string,gender:string,count:integer

Upload complete.
Waiting on bqjob_r148c8c28e37d0f7c_00000177eb807f89_1 ... (0s) Current status: DONE

In [9]:
%%writefile ./SQL/Top_5_USA_baby_names_2014.sql

# This query retrieves the top 5 baby names for US males in 2014.
SELECT
    name, count
FROM
    `babynames.names_2014`
WHERE
    gender='M'
ORDER BY
    count DESC
LIMIT
    5

Writing ./SQL/Top_5_USA_baby_names_2014.sql

In [10]:
%%bash

bq query --use_legacy_sql=false < ./SQL/Top_5_USA_baby_names_2014.sql

+---------+-------+
|  name   | count |
+---------+-------+
| Noah    | 19305 |
| Liam    | 18462 |
| Mason   | 17201 |
| Jacob   | 16883 |
| William | 16820 |
+---------+-------+

Waiting on bqjob_r42148fe27f195b5a_00000177eb87753c_1 ... (0s) Current status: DONE